.testimonials{
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap:3%;
}

.testimonials-item{
    position: relative;
    padding: 70px 50px;
    border-radius: 8px;
    text-align: left;
    word-wrap: break-word;
    background-color: rgb(236, 236, 236);
    border: 5px solid #2d7881;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.testimonials-item i{
    color: #2d7881;
}


.testimonials-item p{
    margin: 0;
}

.testimonials-name{
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 120px;
}