.booking-page{
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.booking-left{
    margin-left: 70px;
}

.booking-left i{
    width: 50px;
    height: 50px;
    background: #2d7881;
    line-height: 50px;
    color: white;
}

.booking-right img{
    width: 100%;
}

.container-booking{
    width: 80%;
}

.btn-booking{
    background: #2d7881;
    color: white;
    border: none;
    padding: 18px 100px;
    border-radius: 8px;
}











/* mobile */
@media screen and (max-width:480px) {
    .booking-page{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
    }
    .booking-left{
        margin-bottom: 20px;
    }
    .navbar-toggler span{
     background-image: var(--bs-navbar-toggler-icon-bg);
    }
}


/* tablets */
@media screen and (min-width:481px) and (max-width:960px) {
    .navbar-toggler span{
        background-image: var(--bs-navbar-toggler-icon-bg);
       }
       .booking{
        width: 90%;
        margin: auto;
       }
}